@import "partials/variables";

.blazor-scrollview {
  overflow: hidden;
  position: relative;

  .handle-container {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 100%;
    width: 10px;
    transition: opacity 500ms;
    opacity: 0;
    box-sizing: border-box;
    cursor: pointer;

    .handle {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 30%;
      height: 100%;
      outline: 1px solid black;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .handle-container-shadow {
      width: 30%;
      height: 100%;
      float: right;
      background-color: #8080806b;
    }
  }
}

.blazor-scrollview.active {
  > .handle-container {
    opacity: 1;
    
    >.handle.small.expanded,
    >.handle.small:hover {
      transform: scaleY(2);
    }
  }

  > .handle-container.expanded,
  > .handle-container:hover {
      .handle,
      .handle-container-shadow {
        width: 100%;
      }
  }
}
