@import "partials/variables";

.blazor-scrollview {
  overflow: hidden;
  position: relative;

  .handle {
    position: absolute;
    right: 1px;
    width: 4px;
    outline: 1px solid black;
    top: 1px;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.5);
  }
}
